#imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

figcaption {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.imagen {
    max-width: 800px;
    margin: 20px 0;
}

#logo_cpp, #logo_upsin {
    background-color: #02366e;
    border-radius: 5px;
    max-width: 200px;
}

h1 {
    color: #003865;
    text-align: center;
    margin-bottom: 30px;
    font-size: 100px;
    text-decoration: underline;
}

h2 {
    color: #003865;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

#encabezado {
    font-size: 5em;
    font-weight: bold;
    color: #d4e6fa;
    text-align: center;
    margin: 0px;
    background-color: #003865;
    padding: 20px;
    margin-bottom: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333333;
    margin: 0;
}

.navbar, ul {
    border: #003865 1px solid;
    border-radius: 1000px;
    background-color: #003865;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item, li {
    margin-top: 15px;
}

.nav-link, nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover, nav ul li a:hover {
    background-color: #6599d0;
}

#parraf {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    color: #333333;
}

#parraf li {
    background-color: #0038654f;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subrayado {
    text-decoration: underline;
}

.negritas {
    font-weight: bold;
}

#footer {
    background-color: #003865;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
}

.navigation-buttons {
    width: 100px;
    padding: 10px 20px;
    background-color: #00599C;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    border: #003865 solid 2px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.boton {
    color: #FFFFFF;
}

.lista-datos {
    background-color: #0038657e;
    border: none solid 2px;
    border-radius: 0px;
    height: 550px;
    width: 100%;

}
.lista-operadores {
    background-color: #0038657e;
    margin-top: 0px;
    border-radius: 0px;
    height: 440px;
    width: 100%;

}
.lista-comparadores {
    background-color: #0038657e;
    margin-top: 0px;
    border-radius: 0px;
    width: 100%;
    height: 550px;
}
.lista-logicos {
    background-color: #0038657e;
    margin-top: 0px;
    border-radius: 0px;
    width: 100%;
    height: 300px;
}

.sub{
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: #003865;
}

h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.video-youtube {
    margin-top: 20px; 
    text-align: center;
}

#sintaxis-img {
    margin-top: 3px;
    background-color: #0038657e;
    border: #0038657e solid transparent;
    border-radius: 4px;
}

#marg { 
    margin-bottom: 1px;
}